.tarjeta {
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 50vh;
    border-radius: 2px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 5px 6px 0 rgba(96, 96, 96, 0.25);
}

.tarjeta h2 {
    position: absolute;
    bottom: 10px;
    color: white;
}

.tarjetasTinder__contenedor{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.swipe {
    position: absolute;
}