.body {
  background-color: #060606a2;
  color: black;
}

.checkoutform-div {
  position: absolute;
  top: 8rem;
  left: 35%;
  min-width: 440px;
  height: 22rem;
  background-color: #ffff00d1;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.73);
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  align-items: center;
  text-align: center;
}

.checkout-img {
  border-radius: 5px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.73);
}

@media (max-width: 440px) {
  .checkoutform-div {
    width: 100%;
    left: 0%;
  }
}

@media (min-width: 445px) {
  .checkoutform-div {
    left: 10%;
  }
}

@media (min-width: 670px) {
  .checkoutform-div {
    left: 30%;
  }
}

.checkoutform-input {
  background: #9696967e;
  border-radius: 5px;
  margin: 1rem;
  padding: 0.5rem;
  color: black;
}

.checkoutform button {
  color: rgb(240, 243, 246);
  background-color: black;
}

.link {
  font-size: 1.2rem;
  font-weight: 900;
  color: black;
  text-decoration: none;
  outline: #ffff00d1;
}

.link:hover {
  background: #5353507e;
  padding: 0.2rem;
  border-radius: 5px;
  color: #ffff00d1;
  transition: all 300ms ease-in-out;
}

/*  
  position: absolute;
  rem
  @media (max-width: 400px){}
  @media (min-width: 726px){}
  @media (min-width: 768px){}
  @media (min-width: 978px){}
    */